---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}{% if not p.data.noindex and p.url and p.url != "/404.html" %}
  <url><loc>{{ site.seo.siteUrl }}{{ p.url }}</loc>{% if p.date %}<lastmod>{{ p.date | date("iso") }}</lastmod>{% endif %}</url>
{%- endif %}{% endfor %}
</urlset>
